* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

.chat-app {
  width: 500px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header .inner-logo a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.header .inner-logo a:hover {
  color: blue;
}

.header .inner-actions a {
  color: black;
  text-decoration: none;
  border: 1px solid #ddd;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 12px;
  border-radius: 8px;
  display: none;
}

.header .inner-actions a:hover {
  color: red;
}
/* End header */

/* chat */
.chat {
  border: 1px solid #ddd;
  border-radius: 8px;
  display: none;
}

.chat .inner-body {
  padding: 10px;
}

.chat .inner-name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.chat .inner-outgoing {
  position: relative;
}

.chat .inner-content {
  background: #F1F1F1;
  margin-bottom: 10px;
  max-width: 200px;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 13px;
  line-height: 1.4;
  padding-right: 30px;
}

.chat .inner-body .inner-images {
  display: flex;
  flex-wrap: wrap;
}
 
.chat .inner-body .inner-images img {
  width: 80px;
  aspect-ratio: 1/1;
  object-fit: contain;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.chat .inner-body .inner-outgoing .inner-images{
  justify-content: flex-end;
}

.chat .inner-outgoing .button-delete{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f0f0f0;
  border: 0;
  border-radius: 50%;
  color: red;
  height: 28px;
  width: 28px;
  cursor: pointer;
  display: none;
}

.chat .inner-outgoing:hover .button-delete{
  display: inline-block;
}

.chat .inner-outgoing .inner-content {
  margin-left: auto;
  background: #FE5DA3;
  color: #fff;
}


.chat .inner-foot {
  border-top: 1px solid #ddd;
  padding: 10px;
  position: relative;
}

.chat .inner-form {
  display: flex;
}

.chat .inner-form input {
  flex: 1;
  height: 25px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 0 10px;
  outline: none;
}

.chat .inner-form button {
  border-radius: 15px;
  border: 1px solid #FE5DA3;
  background: #FE5DA3;
  color: #fff;
  height: 25px;
  padding: 0 10px;
  cursor: pointer;
}


.chat .inner-form .button-icon{
  width: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 0 5px;
  cursor: pointer;
}

.chat .inner-form .button-image{
  width: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-left: 0;
  margin-right: 5px;
  cursor: pointer;
}

.chat .inner-foot .label-container, .input-container{
  display: none !important;
}

.chat .inner-foot .image-preview{
  height: auto;
  padding: 0;
}

.chat .inner-foot .image-preview .image-preview-item{
  width: 80px;
  height: 80px;
}

.image-preview-item-clear-icon{
  margin-top: 1px !important;
}

.tooltip:not(.shown) {
  display: none;
}

.tooltip.shown{
  transform: translate3d(0px, 0px, 0px) !important; 
  right: 0px !important;
  left: auto !important;
  /* bottom: 100% !important; */
  top:45px !important;
  
}
/* End chat */

/* Form */
.form {
  background: #f3f3f3;
  border-radius: 8px;
  padding: 20px;
}

.form__group {
  margin-bottom: 20px;
}

.form__group label {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
}

.form__group input {
  width: 100%;
  height: 42px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: 0;
  padding: 0 15px;
}

.form__button {
  width: 100%;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  border: 0;
  border-radius: 8px;
  background: orange;
  cursor: pointer;
}
/* End Form */